
@{
    ViewBag.Title = "Index";
}

<header class="header">
    <div class="header__side-menu-button">
        <img src="~/Content/Images/hamburger.svg" alt="" class="header__side-menu-button-img">
    </div>

    <img src="~/Content/Images/LogoFull.svg" alt="" class="header__logo-imgfull">

    @Html.Partial("_LoginPartial")
</header>




