@model  HabitBuilder.Core.ViewModels.HabitViewModel

<div class="calendar-view__calendar">
    @foreach (var month in Model.Months)
    {
        <div class="month">
        <h4 class="month__name">@month.MonthName</h4>
        @foreach (var week in month.Days)
        {
            <div class="month__week week">
                @Html.Partial("_WeekPartialView", week)
            </div>
            
        }
        </div>
    }
</div>



<div class="calendar-view__pie">

</div>
