
<div id="editNote" class="white-popup mfp-hide">
    <div class="create-window create-window--habit">
        <div class="create-window__create-header create-header">
            <div class="create-header__top">
                <button id="closeNotePopup" class="create-header__back-link">
                    <svg class="create-header__back-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path class="path-white" d="M10.273 5.00903C10.717 4.56503 11.416 4.56503 11.86 5.00903C12.289 5.43803 12.289 6.15203 11.86 6.58003L3.81302 14.627H30.367C30.986 14.627 31.494 15.119 31.494 15.738C31.494 16.357 30.986 16.865 30.367 16.865H3.81302L11.86 24.897C12.289 25.341 12.289 26.056 11.86 26.484C11.416 26.928 10.717 26.928 10.273 26.484L0.321018 16.532C-0.107982 16.103 -0.107982 15.389 0.321018 14.961L10.273 5.00903Z" fill="#52C894" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="31.494" height="31.494" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <h3 class="create-header__title">Редактирование заметки</h3>
            </div>
        </div>
        <form class="create-window__create-form create-form" id="editNoteForm" data-noteid="" style="position: relative; min-height: 400px">

            <div class="preloader">
                <div class="preloader__circle"></div>
                <div class="preloader__circle"></div>
                <div class="preloader__circle"></div>
            </div>

            

        </form>
    </div>
</div>