<div class="categories">
    <a href="#" class="categories__category categories__category--active menu-option">
        <img src="~/Content/Images/Bage.svg" alt="" class="menu-option__icon">
        <div class="menu-option__name">Все категории</div>
    </a>

    <!--
    <a href="#" class="categories__category menu-option">
        <img src="~/Content/Images/Bage.svg" alt="" class="menu-option__icon">
        <div class="menu-option__name">Без категории</div>
    </a>


    <a href="#" class="categories__category categories__edit menu-option">
        <img src="~/Content/Images/Pen.svg" alt="" class="menu-option__icon">
        <div class="menu-option__name">Изменить категории</div>
    </a>
        -->





    <div class="categories__info category">
        <a href="https://vk.com/id133115737" class="info-link" target="_blank">Об авторах</a>
        <a href="https://vk.com/id133115737" class="info-link" target="_blank">Что такое HabitBuilder</a>
    </div>
</div>
